<div id="main-header" class="flex justify-between items-center px-4 max-w-desktop mx-auto">
  <div class="flex items-center gap-2">
    <a routerLink="/" class="group flex items-center gap-2 cursor-pointer">
      <svg-icon
        name="radio"
        class="text-brand-secondary group-hover:text-brand-quaternary w-10 h-10 transition-colors"
      ></svg-icon>
      <span
        class="text-xl font-bold text-brand-tertiary group-hover:text-brand-quaternary tracking-wide translate-y-[2px]"
        >{{ radioService.radioName() }}</span
      >
    </a>
  </div>

  <app-navbar />
</div>
