<section class="w-full py-24 bg-brand-tertiary/95">
  <div class="max-w-desktop mx-auto pb-12 md:pb-20">
    <app-section-header
      [title]="'CONTACT.MAP_TITLE' | translate"
      [subtitle]="'CONTACT.MAP_SUBTITLE' | translate"
      [centered]="true"
    ></app-section-header>
  </div>

  <div class="max-w-desktop mx-auto px-4">
    <div
      class="w-full h-[550px] bg-brand-primary/5 rounded-[40px] border border-brand-primary/5 overflow-hidden shadow-2xl relative"
    >
      <iframe
        [src]="mapUrl()"
        class="w-full h-full grayscale-[0.2] contrast-[1.1]"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
