<div id="home-page" class="min-h-screen flex flex-col font-sans">
  <app-hero id="hero-section" />

  <!-- Schedule -->
  <app-broadcast-history id="broadcast-history-section" />

  <!-- Verse of the day -->
  <app-verse id="daily-verse-section" />

  <!-- Community -->
  <app-community id="community-section" />

  <!-- YouTube Section -->
  <app-youtube-channel id="youtube-section" />

  <!-- Sponsors -->
  <app-sponsors id="sponsors-section" />

  <!-- Prayer Request -->
  <app-prayer-request id="prayer-request-section" />

  <!-- Advertise Banner -->
  <app-advertise-banner id="advertise-banner-section"></app-advertise-banner>
</div>
