<div class="min-h-screen flex flex-col font-sans">
  <app-hero />

  <section class="flex items-center justify-center w-full bg-brand-tertiary/90">
    <div class="p-8 text-center">
      <h2>Programacion</h2>
    </div>
  </section>

  <section class="flex items-center justify-center w-full bg-brand-tertiary/60">
    <div class="p-8 text-center">
      <h2>Noticias</h2>
    </div>
  </section>

  <section class="flex items-center justify-center w-full bg-brand-tertiary/10">
    <div class="p-8 text-center">
      <h2>Reflexion</h2>
    </div>
  </section>

  <section class="flex items-center justify-center w-full bg-brand-tertiary/90">
    <div class="p-8 text-center">
      <h2>Testimonios</h2>
    </div>
  </section>

  <section class="flex items-center justify-center w-full bg-brand-tertiary/60">
    <div class="p-8 text-center">
      <h2>Patrocinadores</h2>
    </div>
  </section>
</div>
