<nav class="flex items-center justify-between py-4">
  <div class="hidden md:flex items-center text-lg tracking-wide gap-8">
    <a
      routerLink="/"
      routerLinkActive="!text-brand-secondary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-brand-tertiary hover:text-brand-quaternary hover:text-shadow-brand-quaternary transition-all font-medium"
      >{{ 'NAV.HOME' | translate }}</a
    >
    <a
      routerLink="/schedule"
      routerLinkActive="!text-brand-secondary"
      class="text-brand-tertiary hover:text-brand-quaternary hover:text-shadow-brand-quaternary transition-all font-medium"
      >{{ 'NAV.SCHEDULE' | translate }}</a
    >
    <a
      routerLink="/podcasts"
      routerLinkActive="!text-brand-secondary"
      class="text-brand-tertiary hover:text-brand-quaternary hover:text-shadow-brand-quaternary transition-all font-medium"
      >{{ 'NAV.PODCASTS' | translate }}</a
    >
    <a
      routerLink="/news"
      routerLinkActive="!text-brand-secondary"
      class="text-brand-tertiary hover:text-brand-quaternary hover:text-shadow-brand-quaternary transition-all font-medium"
      >{{ 'NAV.NEWS' | translate }}</a
    >
    <a
      routerLink="/blog"
      routerLinkActive="!text-brand-secondary"
      class="text-brand-tertiary hover:text-brand-quaternary hover:text-shadow-brand-quaternary transition-all font-medium"
      >{{ 'NAV.BLOG' | translate }}</a
    >
    <a
      routerLink="/about"
      routerLinkActive="!text-brand-secondary"
      class="text-brand-tertiary hover:text-brand-quaternary hover:text-shadow-brand-quaternary transition-all font-medium mr-4"
      >{{ 'NAV.ABOUT' | translate }}</a
    >
  </div>

  <div class="flex items-center gap-4">
    <app-language-switcher />

    <app-action-button
      [label]="'NAV.CONTACT' | translate"
      [showPulse]="true"
      bgColor="bg-brand-secondary"
      textColor="text-brand-primary"
    ></app-action-button>
  </div>
</nav>
