<nav class="flex items-center justify-between  py-4">
  <div class="hidden md:flex items-center text-lg tracking-wide gap-8">
    <a
      routerLink="/"
      routerLinkActive="!text-brand-quaternary"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-brand-tertiary hover:text-brand-quaternary transition-colors font-medium"
      >Home</a
    >
    <a
      routerLink="/schedule"
      routerLinkActive="!text-brand-quaternary"
      class="text-brand-tertiary hover:text-brand-quaternary transition-colors font-medium"
      >Schedule</a
    >
    <a
      routerLink="/podcasts"
      routerLinkActive="!text-brand-quaternary"
      class="text-brand-tertiary hover:text-brand-quaternary transition-colors font-medium"
      >Biblic Studies</a
    >
    <a
      routerLink="/news"
      routerLinkActive="!text-brand-quaternary"
      class="text-brand-tertiary hover:text-brand-quaternary transition-colors font-medium"
      >News</a
    >
    <a
      routerLink="/blog"
      routerLinkActive="!text-brand-quaternary"
      class="text-brand-tertiary hover:text-brand-quaternary transition-colors font-medium"
      >Blog</a
    >
    <a
      routerLink="/about"
      routerLinkActive="!text-brand-quaternary"
      class="text-white hover:text-brand-quaternary transition-colors font-medium mr-4"
      >About Us</a
    >
  </div>

  <button
    class="bg-brand-secondary hover:bg-brand-secondary/80 text-brand-primary tracking-wide px-6 py-2 rounded-full font-bold transition-transform hover:scale-105 active:scale-95 shadow-lg flex items-center gap-2 cursor-pointer"
  >
    <span class="w-2 h-2 bg-brand-primary rounded-full animate-pulse"></span>
    Contact
  </button>
</nav>
